## Operator

In [1]:
a = 5
b = 3

In [2]:
a > b

True

In [3]:
a < b

False

In [4]:
a = True
b = False

In [5]:
a == b

False

In [6]:
a != b

True

In [7]:
c = a == b
c

False

In [8]:
not a

False

In [9]:
not a == b

True

In [11]:
c = (not a == b)

In [12]:
a = None
b = None
a == b

True

## Statement

In [21]:
a = 5
b = 3

if a > b:
    print('ok')

ok

In [22]:
if True:
    print('it was true')

it was true

In [23]:
x = False
if x:
    print('x was true')
else:
    print('I will be printed if x is not True')

I will be printed if x is not True

In [26]:
deposit = 25000

if deposit > 30000:
    print('Buy IPhone')
elif deposit > 20000:
    print('Buy Oppo')
else:
    print('Save More Money')

Buy Oppo

## For Loop

In [27]:
l = [1,2,3,4,5,6,7,8,9,10]
for num in l:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [29]:
for qoo in l:
    print(qoo)

1
2
3
4
5
6
7
8
9
10

In [30]:
range(1,11)

range(1, 11)

In [31]:
# range(1,11):
# 代表從1開始數，到11前終止 
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [32]:
list_sum = 0
for num in range(1,101):
    list_sum = list_sum + num

In [33]:
list_sum

5050

In [34]:
list_sum = 0
for num in range(1,101):
    list_sum += num

In [35]:
list_sum

5050

In [36]:
for letter in 'this is a string':
    print(letter)

t
h
i
s

i
s

a

s
t
r
i
n
g

In [37]:
tup = (1,2,3,4,5)
for t in tup:
    print(t)

1
2
3
4
5

In [38]:
l = [(2,4), (6,8), (10,12)]
for t in l:
    print(t)

(2, 4)
(6, 8)
(10, 12)

In [39]:
l = [(2,4), (6,8), (10,12)]
for t in l:
    print(t[0])

2
6
10

In [40]:
a,b = 2,4

In [42]:
l = [(2,4), (6,8), (10,12)]
for t1,t2 in l:
    print(t2)

4
8
12

In [43]:
d = {'d1':1, 'd2':2, 'd3':3}
for item in d:
    print(item)

d1
d2
d3

In [44]:
d = {'d1':1, 'd2':2, 'd3':3}
for item in d:
    print(item, d.get(item))

d1 1
d2 2
d3 3

In [45]:
d = {'d1':1, 'd2':2, 'd3':3}
d.items()

dict_items([('d1', 1), ('d2', 2), ('d3', 3)])

In [46]:
for k, v in d.items():
    print(k, v)

d1 1
d2 2
d3 3

## While

In [47]:
x = 0 

while x < 10: 
        print('x is currently: ',x) 
        print('x is still less than 10, adding 1 to x')
        x+=1

x is currently:  0
x is still less than 10, adding 1 to x
x is currently:  1
x is still less than 10, adding 1 to x
x is currently:  2
x is still less than 10, adding 1 to x
x is currently:  3
x is still less than 10, adding 1 to x
x is currently:  4
x is still less than 10, adding 1 to x
x is currently:  5
x is still less than 10, adding 1 to x
x is currently:  6
x is still less than 10, adding 1 to x
x is currently:  7
x is still less than 10, adding 1 to x
x is currently:  8
x is still less than 10, adding 1 to x
x is currently:  9
x is still less than 10, adding 1 to x

In [48]:
x = 0 

while x < 10: 
        print('x is currently: ',x) 
        print('x is still less than 10, adding 1 to x')
        x+=1 
else: 
        print('All Done!')

x is currently:  0
x is still less than 10, adding 1 to x
x is currently:  1
x is still less than 10, adding 1 to x
x is currently:  2
x is still less than 10, adding 1 to x
x is currently:  3
x is still less than 10, adding 1 to x
x is currently:  4
x is still less than 10, adding 1 to x
x is currently:  5
x is still less than 10, adding 1 to x
x is currently:  6
x is still less than 10, adding 1 to x
x is currently:  7
x is still less than 10, adding 1 to x
x is currently:  8
x is still less than 10, adding 1 to x
x is currently:  9
x is still less than 10, adding 1 to x
All Done!

In [52]:
x = 0 

while x < 10: 
        print('x is currently: ',x )
        print(' x is still less than 10, adding 1 to x' )
        x+=1 
        if x ==3: 
                  pass
                  print('x==3') 
        else: 
                  print('continuing...' )

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
x==3
x is currently:  3
 x is still less than 10, adding 1 to x
continuing...
x is currently:  4
 x is still less than 10, adding 1 to x
continuing...
x is currently:  5
 x is still less than 10, adding 1 to x
continuing...
x is currently:  6
 x is still less than 10, adding 1 to x
continuing...
x is currently:  7
 x is still less than 10, adding 1 to x
continuing...
x is currently:  8
 x is still less than 10, adding 1 to x
continuing...
x is currently:  9
 x is still less than 10, adding 1 to x
continuing...

In [53]:
x = 0 

while x < 10: 
    print('x is currently: ',x) 
    print(' x is still less than 10, adding 1 to x')  
    x+=1 
    if x ==3: 
        print('Breaking because x==3' )
        break 
    else: 
        print('continuing...') 
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
Breaking because x==3

In [1]:
#while True: 
#        print('Uh Oh infinite Loop!')