## Operator

In [1]:
a = 5
b = 3

In [2]:
a > b

True

In [3]:
a < b

False

In [4]:
a = True
b = False

In [5]:
a == b

False

In [6]:
a != b

True

In [7]:
c = a == b
c

False

In [8]:
not a

False

In [9]:
not a == b

True

In [11]:
c = (not a == b)

In [12]:
a = None
b = None
a == b

True

## Statement

In [21]:
a = 5
b = 3

if a > b:
    print('ok')

ok

In [22]:
if True:
    print('it was true')

it was true

In [23]:
x = False
if x:
    print('x was true')
else:
    print('I will be printed if x is not True')

I will be printed if x is not True

In [26]:
deposit = 25000

if deposit > 30000:
    print('Buy IPhone')
elif deposit > 20000:
    print('Buy Oppo')
else:
    print('Save More Money')

Buy Oppo

## For Loop

In [27]:
l = [1,2,3,4,5,6,7,8,9,10]
for num in l:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [29]:
for qoo in l:
    print(qoo)

1
2
3
4
5
6
7
8
9
10

In [30]:
range(1,11)

range(1, 11)

In [31]:
# range(1,11):
# 代表從1開始數，到11前終止 
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [32]:
list_sum = 0
for num in range(1,101):
    list_sum = list_sum + num

In [33]:
list_sum

5050

In [34]:
list_sum = 0
for num in range(1,101):
    list_sum += num

In [35]:
list_sum

5050

In [36]:
for letter in 'this is a string':
    print(letter)

t
h
i
s

i
s

a

s
t
r
i
n
g

In [37]:
tup = (1,2,3,4,5)
for t in tup:
    print(t)

1
2
3
4
5

In [38]:
l = [(2,4), (6,8), (10,12)]
for t in l:
    print(t)

(2, 4)
(6, 8)
(10, 12)

In [39]:
l = [(2,4), (6,8), (10,12)]
for t in l:
    print(t[0])

2
6
10

In [40]:
a,b = 2,4

In [42]:
l = [(2,4), (6,8), (10,12)]
for t1,t2 in l:
    print(t2)

4
8
12

In [43]:
d = {'d1':1, 'd2':2, 'd3':3}
for item in d:
    print(item)

d1
d2
d3

In [44]:
d = {'d1':1, 'd2':2, 'd3':3}
for item in d:
    print(item, d.get(item))

d1 1
d2 2
d3 3

In [45]:
d = {'d1':1, 'd2':2, 'd3':3}
d.items()

dict_items([('d1', 1), ('d2', 2), ('d3', 3)])

In [46]:
for k, v in d.items():
    print(k, v)

d1 1
d2 2
d3 3

## While

In [47]:
x = 0 

while x < 10: 
        print('x is currently: ',x) 
        print('x is still less than 10, adding 1 to x')
        x+=1

x is currently:  0
x is still less than 10, adding 1 to x
x is currently:  1
x is still less than 10, adding 1 to x
x is currently:  2
x is still less than 10, adding 1 to x
x is currently:  3
x is still less than 10, adding 1 to x
x is currently:  4
x is still less than 10, adding 1 to x
x is currently:  5
x is still less than 10, adding 1 to x
x is currently:  6
x is still less than 10, adding 1 to x
x is currently:  7
x is still less than 10, adding 1 to x
x is currently:  8
x is still less than 10, adding 1 to x
x is currently:  9
x is still less than 10, adding 1 to x

In [48]:
x = 0 

while x < 10: 
        print('x is currently: ',x) 
        print('x is still less than 10, adding 1 to x')
        x+=1 
else: 
        print('All Done!')

x is currently:  0
x is still less than 10, adding 1 to x
x is currently:  1
x is still less than 10, adding 1 to x
x is currently:  2
x is still less than 10, adding 1 to x
x is currently:  3
x is still less than 10, adding 1 to x
x is currently:  4
x is still less than 10, adding 1 to x
x is currently:  5
x is still less than 10, adding 1 to x
x is currently:  6
x is still less than 10, adding 1 to x
x is currently:  7
x is still less than 10, adding 1 to x
x is currently:  8
x is still less than 10, adding 1 to x
x is currently:  9
x is still less than 10, adding 1 to x
All Done!

In [52]:
x = 0 

while x < 10: 
        print('x is currently: ',x )
        print(' x is still less than 10, adding 1 to x' )
        x+=1 
        if x ==3: 
                  pass
                  print('x==3') 
        else: 
                  print('continuing...' )

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
x==3
x is currently:  3
 x is still less than 10, adding 1 to x
continuing...
x is currently:  4
 x is still less than 10, adding 1 to x
continuing...
x is currently:  5
 x is still less than 10, adding 1 to x
continuing...
x is currently:  6
 x is still less than 10, adding 1 to x
continuing...
x is currently:  7
 x is still less than 10, adding 1 to x
continuing...
x is currently:  8
 x is still less than 10, adding 1 to x
continuing...
x is currently:  9
 x is still less than 10, adding 1 to x
continuing...

In [53]:
x = 0 

while x < 10: 
    print('x is currently: ',x) 
    print(' x is still less than 10, adding 1 to x')  
    x+=1 
    if x ==3: 
        print('Breaking because x==3' )
        break 
    else: 
        print('continuing...') 
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
Breaking because x==3

In [1]:
#while True: 
#        print('Uh Oh infinite Loop!')

## File

In [2]:
# w: write, a: append, r: read
fid = open('test.txt', 'w')
fid.write('hello\nworld')
fid.close()

In [3]:
with open('test.txt', 'w') as fid:
    fid.write('hello\nworld')

In [4]:
with open('test.txt', 'r') as fid:
    data = fid.read()

In [5]:
data

'hello\nworld'

In [6]:
with open('test.txt', 'r') as fid:
    for line in fid.readlines():
        print(line)

hello

world

In [10]:
with open('test.txt', 'r') as fid:
    for line in fid.readlines():
        # strip 可以移除多餘的空白或換行符號
        print(line.strip())

hello
world

In [8]:
a = '              how         are           you      '
print(a)

              how         are           you

In [9]:
print(a.strip())

how         are           you

In [11]:
k = 0
with open('test.txt', 'r') as fid:
    for line in fid.readlines():
        #print(line)
        k +=1
k

2

In [13]:
ary = []
with open('test.txt', 'r') as fid:
    for line in fid.readlines():
        ary.append(line)
len(ary)

2

In [14]:
[line for line in open('test.txt', 'r')]

['hello\n', 'world']

In [15]:
len([line for line in open('test.txt', 'r')])

2

In [18]:
names = ['David', 'jones', 'Amy', 'Darran']
ary = []
for n in names:
    if n.startswith('D'):
        #print(n)
        ary.append(n)
ary

['David', 'Darran']

In [19]:
[n for n in names if n.startswith('D')]

['David', 'Darran']

In [20]:
names = ['David', 'jones', 'Amy', 'Darran']
ary = []
for n in names:
    if n.startswith('D'):
        #print(n)
        ary.append(n.lower())
ary

['david', 'darran']

In [21]:
[n.lower() for n in names if n.startswith('D')]

['david', 'darran']

## 分析川普演說文

In [23]:
with open('data/trump.txt', 'r', encoding = 'iso-8859-1') as f:
    data = f.read()
with open('data/trump.txt', 'r', encoding = 'latin1') as f:
    data = f.read()

## 小任務

- 1 請使用lower 將讀進來的文章全部轉小寫
- 2 請使用 split 將所有文章分詞
- 3 請使用for 迴圈, if else 及字典統計每個詞出現的數量

In [25]:
with open('data/trump.txt', 'r', encoding = 'iso-8859-1') as f:
    data = f.read()

In [28]:
words = data.lower().split()

In [32]:
# method 1
dic = {}
for w in words:
    if w not in dic:
        dic[w] = 1
    else:
        dic[w] = dic[w] + 1
#dic

In [35]:
# method 2
dic = {}
for w in words:
    dic[w] = dic.get(w, 0) + 1
#dic

In [39]:
# method 3
#words.count('president')
dic = {}
for w in set(words):
    dic[w] = words.count(w)
#dic

In [41]:
dic = {}
for w in words:
    if w not in dic:
        dic[w] = 1
    else:
        dic[w] = dic[w] + 1
#dic

In [42]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [48]:
tups = [
     (1,10,'a'), 
     (3,9,'b'), 
     (2,11,'c')
     ]

sorted(tups, key= lambda e: e[0], reverse=True)

[(3, 9, 'b'), (2, 11, 'c'), (1, 10, 'a')]

In [54]:
stopwords = ["a", "about", "above", "above", "across", "after", "afterwards", "again", "against", "all", "almost", "alone", "along", "already", "also","although","always","am","among", "amongst", "amoungst", "amount",  "an", "and", "another", "any","anyhow","anyone","anything","anyway", "anywhere", "are", "around", "as",  "at", "back","be","became", "because","become","becomes", "becoming", "been", "before", "beforehand", "behind", "being", "below", "beside", "besides", "between", "beyond", "bill", "both", "bottom","but", "by", "call", "can", "cannot", "cant", "co", "con", "could", "couldnt", "cry", "de", "describe", "detail", "do", "done", "down", "due", "during", "each", "eg", "eight", "either", "eleven","else", "elsewhere", "empty", "enough", "etc", "even", "ever", "every", "everyone", "everything", "everywhere", "except", "few", "fifteen", "fify", "fill", "find", "fire", "first", "five", "for", "former", "formerly", "forty", "found", "four", "from", "front", "full", "further", "get", "give", "go", "had", "has", "hasnt", "have", "he", "hence", "her", "here", "hereafter", "hereby", "herein", "hereupon", "hers", "herself", "him", "himself", "his", "how", "however", "hundred", "ie", "if", "in", "inc", "indeed", "interest", "into", "is", "it", "its", "itself", "keep", "last", "latter", "latterly", "least", "less", "ltd", "made", "many", "may", "me", "meanwhile", "might", "mill", "mine", "more", "moreover", "most", "mostly", "move", "much", "must", "my", "myself", "name", "namely", "neither", "never", "nevertheless", "next", "nine", "no", "nobody", "none", "noone", "nor", "not", "nothing", "now", "nowhere", "of", "off", "often", "on", "once", "one", "only", "onto", "or", "other", "others", "otherwise", "our", "ours", "ourselves", "out", "over", "own","part", "per", "perhaps", "please", "put", "rather", "re", "same", "see", "seem", "seemed", "seeming", "seems", "serious", "several", "she", "should", "show", "side", "since", "sincere", "six", "sixty", "so", "some", "somehow", "someone", "something", "sometime", "sometimes", "somewhere", "still", "such", "system", "take", "ten", "than", "that", "the", "their", "them", "themselves", "then", "thence", "there", "thereafter", "thereby", "therefore", "therein", "thereupon", "these", "they", "thick", "thin", "third", "this", "those", "though", "three", "through", "throughout", "thru", "thus", "to", "together", "too", "top", "toward", "towards", "twelve", "twenty", "two", "un", "under", "until", "up", "upon", "us", "very", "via", "was", "we", "well", "were", "what", "whatever", "when", "whence", "whenever", "where", "whereafter", "whereas", "whereby", "wherein", "whereupon", "wherever", "whether", "which", "while", "whither", "who", "whoever", "whole", "whom", "whose", "why", "will", "with", "within", "without", "would", "yet", "you", "your", "yours", "yourself", "yourselves", "the"]
dic = {}
for w in words:
    if w not in stopwords:
        if w not in dic:
            dic[w] = 1
        else:
            dic[w] = dic[w] + 1
swd = sorted(dic.items(), key = lambda e: e[1], reverse=True)

In [56]:
#swd

### High Performance Collections
- https://docs.python.org/3.7/library/collections.html

In [58]:
a = [1,1,2,2,3,1,2,3,4,5]
from collections import Counter
c = Counter(a)
c.most_common(3)

[(1, 3), (2, 3), (3, 2)]

In [59]:
with open('data/trump.txt', 'r', encoding = 'iso-8859-1') as f:
    data = f.read()
words = data.lower().split()
c = Counter([w for w in words if w not in stopwords])
c.most_common(10)

[('¡v', 13),
 ('american', 11),
 ('america', 10),
 ('again.', 8),
 ('president', 6),
 ('people', 6),
 ('great', 6),
 ('country', 6),
 ('new', 6),
 ('right', 5)]

In [60]:
with open('data/trump.txt', 'r', encoding = 'iso-8859-1') as f:
    data = f.read()
Counter([w for w in data.lower().split() if w not in stopwords]).most_common(10)

[('¡v', 13),
 ('american', 11),
 ('america', 10),
 ('again.', 8),
 ('president', 6),
 ('people', 6),
 ('great', 6),
 ('country', 6),
 ('new', 6),
 ('right', 5)]